.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .nav-link {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
  }
  
  .nav-link:hover {
    background-color: #555;
  }
  
  .active {
    background-color: #555;
  }
  