/* index.css */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Custom Styles */
body {
  background-color: #c1daf2;
}

.modal-content {
  border-radius: 0.5rem;
}

.modal-header {
  background-color: #0ca7e0;
  color: rgb(255, 255, 255);
}

.alert {
  margin-bottom: 1rem;
}
